/algorithms
/API
/assets
/Button_Styling
/Connections
/Dojonary
/Exam
/FizzBuzz
/Flags
/FLEX-ible_Columns
/Flex_Box
/Flex_Navbar
/Github_Blocks
/hoverevent
/indentation_prac
/intro_to_HTML
/likes-project
/Loop-Challenges
/Plotting_Blocks
/portfolio
/PROFILE
/Read_me
/Registration_Form
/styling
/video-preview
/Weather-Forcast
/YellowBeltExam